<!-- <script src="/js/_____.js"></script>
en caso de agregar no olvidar para enlazarlo-->

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de Sesión</title>
    <link rel="stylesheet" href="/css/styles.css"> <!-- Referencia para los estilos css-->
</head>
<body>
    {{#if mostrarHeader}} <!-- Condición para mostrar el header solo si mostrarHeader es verdadero -->
        {{> header}} <!-- Incluir el header -->
    {{/if}}

    <div class="container-fluid"> <!-- Contenedor principal -->
        {{{body}}} <!-- Carga el contenido específico de cada vista -->
    </div>
</body>
</html>