<div class="container">
    <h2>Panel de Administración</h2>
    <nav>
        <!-- Actualiza las rutas para que coincidan con las rutas definidas en express (revisar el backed recordar) -->
        <a href="/agregar_cita" class="btn">Agregar Cita</a> <!-- Ruta a la vista de agregar cita -->
        <a href="/pacientes" class="btn">Pacientes</a> <!-- Ruta a la vista de pacientes -->
        <a href="/usuarios" class="btn">Usuarios</a> <!-- Ruta a la vista de usuarios -->
    </nav>
</div>
