<!-- REVISAR -->
<header>
    <nav>
        <a href="/panel">Inicio</a>
        <a href="/panel/agregar-cita">Agregar Cita</a>
        <a href="/panel/pacientes">Pacientes</a>
        <a href="/panel/usuarios">Usuarios</a>
        <!-- <a href="/logout">Cerrar Sesión</a> -->
    </nav>
</header>
